* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin: 2rem auto;
    border: 10px solid grey;
}

#left {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 33%;
    height: 33%;
}

#title {
    width: 66%;
    background-color: darkgray;
}

#right {
    width: 40%;
    height: 637px;
}

#right img {
    width: 100%;
    height: 637px;
}

#text {
    display: inline-block;
    width: 66%;
    height: 20rem;
    background-color: blue;
    color: white;
}

#profile {
    background-color: orange;
}

#abstract {
    width: 100%;
    padding: 0.8rem;
    margin-left: 2.3rem;
}

#button , #contact {
    display: inline-block;
    width: 34%;
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
}

a {
    text-decoration-line: none;
    color: white;
    margin: 0 auto;
}

#contact {
    margin-left: 2rem;
}

#form {
    width: 100%;
    margin: 10rem auto;
    padding: 1rem;
    text-align: center;
}

#send {
    padding: 0.8rem;
}

i {
    padding: 0.4rem;
}

h1 {
   margin-left: 3rem;
   padding: 1rem;
}

p {
    font-size: 1.6rem;
    margin-left: 4rem;
}

.profil {
    text-align: center;
    padding: 2.5rem;
    width: 41%;
    margin-left: auto;
    margin-right: auto;
}

i.fa-address-card {
    font-size: 5rem;
    color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#experience {
    background-color: #da2b2b;
}

#education {
    background-color: rosybrown;
}

#blog {
    background-color: blue;
}

#menu , #folio {
    background-color: darkgray;
}

#contacts {
    background-color: #da2b2b;
}

i.fa-spinner , i.fa-book-open , i.fa-book-open , i.fa-blog , i.fa-location-arrow , i.fa-desktop {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: white;
}

span {
    font-size: 6rem;
    color: white;
}

i.fa-circle {
    font-size: 1rem;
    color: grey;
    float: right;
}

#white {
    color: white;
}

#arrow1 , #arrow2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    bottom: 50%;
    left: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.52);
    border-radius: 4rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
    background-color: #00000045;
    z-index: 99;
}

#arrow2 {
    display: inline-block;
    left: 80%;
}

@media screen and (max-width: 1040px) {

    #container {
        flex-direction: column;
    }

    #title , #folio , #left , #right , #right {
        width: 100%;
    }

    .item {
        width: 50%;
    }

    #arrow2, #arrow1 {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .item {
        width: 100%;
    }

    img {
        background-size: contain;
    }
}